# ======================
# APP CONFIG
# ======================
MONGO_URL=CHANGE-ME
PORT=CHANGE-ME
JWT_SECRET=CHANGE-ME

# ======================
# SEED DATA
# ======================
SEED_TEST_NAME=CHANGE-ME
SEED_TEST_EMAIL=CHANGE-ME
SEED_TEST_PASSWORD=CHANGE-ME