#btnProjecao {
  margin-top: 15px;
  background: var(--brand-primary);
}

#btnProjecao:hover {
  background: var(--brand-primary);
}

#modalProjecao .modal-content p {
  display: flex;
  justify-content: space-between;

  background: var(--gray-50);

  padding: 12px 14px;

  border-radius: 10px;

  margin-bottom: 10px;
}

#projSaldoAtual {
  color: var(--gray-900);
}

#projSaidasPendentes {
  color: var(--btn-danger);
}

#projSaldoFinal {
  color: var(--gray-900);
  font-weight: 700;
  font-size: 20px;
}

#projSaldoFinal.saldo-projetado-negativo {
  color: var(--btn-danger);
}

#projSaldoFinal.saldo-projetado-zero {
  color: var(--gray-900);
}

#projSaldoFinal.saldo-projetado-positivo {
  color: var(--brand-secondary);
}

.resumo-financeiro .card details ul li:hover,
.resumo-financeiro .card details table.resumo-table tbody tr:hover {
  background: var(--gray-50);
  font-weight: 600;
}

.resumo-financeiro .card details ul li,
.resumo-financeiro .card details table.resumo-table tbody tr {
  transition: background 0.2s, font-weight 0.2s;
}
