#listaDesejos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 15px;
}

#listaDesejos .transacao-card.transacao-saida {
  background: var(--color-white);
}

@media (max-width: 1200px) {
  #listaDesejos {
    grid-template-columns: 1fr;
  }
}
